/* Adding style to the global variable */
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER STYLES */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


/* QUIZ WRAPPER STYLES */

.quiz-wrapper {
    border-radius: 10px;
    width: 40%;
    margin: 0 auto;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
}
.question-wrapper {
    padding: 10px;
}
/* Style for the questions that we'll dynamically add via JavaScript file */
.question-wrapper h3 {
    font-size: 1.1rem;
}

.question-wrapper ol li {
    background-color: purple;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0 5px 0;
}

.question-wrapper ol li:hover {
    background-color: violet;
}

.question-test {
    color: blue;
}